html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #5ab8e4;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}

nav a {
    background-color: #fff;
    color: black;
    padding: 1px;
    border-color: gray;
    text-decoration: none;
    font-style: bold;
}

nav a:hover {
    text-decoration: underline;
}